.loginBody{
    background-image: url("../img/7CJk.gif");
    background-repeat:unset;
    background-size: cover;
    font-family: 'Fredoka One', cursive;
}

.containerLogin1{
    background-color: rgba(80, 23, 146, 0.936);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8em 4em;
    padding: 4em;
    border-radius: 5%;
    color: rgb(211, 224, 69);
}

.loginForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
}